@import 'src/styles/variables.scss';

.screen {
    background-color: rgba($gray1, 0.8);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 50;
    top:0;
    right:0;
    bottom:0;
    left:0;
    text-align: center;
    animation: screenAppear 100ms linear;
}

.label {
    font-size: 40px;
    font-weight: bold;
    color: rgba(#000, 0.6);
    text-shadow: 0 0 5px rgba(#293742, 0.5);
}

.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0.2;
    }
}

@keyframes screenAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
